#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 25px;
}

.char-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Adjust the minmax value to control the size of the grid items */
  gap: 10px; /* Adjust gap between items */
  padding: 0;
  list-style: none; /* Remove default list styling */
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  border-radius: 1.5rem;
  padding: 20px;
  text-align: center;
  margin: 20px 25px;

}



.char-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


.char-card img{

  width: 110px;

}

.char-card img:hover {
  animation: moveUpDown 2s infinite ease-in-out;
  /* Apply animation */
}

.search-team-char-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Adjust the minmax value to control the size of the grid items */
  gap: 10px; /* Adjust gap between items */
  padding: 0;
  list-style: none; /* Remove default list styling */
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  border-radius: 1.5rem;
  padding: 20px;
  text-align: center;
  margin: 20px 25px;

}



.search-team-char-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


.search-team-char-card img{

  width: 110px;

}

.search-team-char-card img:hover {
  animation: moveUpDown 2s infinite ease-in-out;
  /* Apply animation */
}

/*animation */
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
    /* Starting position */
  }
  50% {
    transform: translateY(-25px);
    /* Move up */
  }
}




/* .card-ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 16px; 
  padding: 0;
  list-style: none; 
} */

/* .card-li {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
} */